<p class="footer__content">Dropcast is a template made by <a href="#">Volkan</a> exclusively for <a href="#">Brand2D</a></p>
	<div>
		 Copyright {{"now"|date('Y')}}
	</div>
 
        <div class="logo footer__logo">
          <a href="https://tympanus.net/codrops/"><img src="{{ site.theme.link }}/assets/images/logo-white.svg" alt="logo"/></a>
        </div>
      <script src="{{ site.theme.link }}/assets/js/dropcast.js"></script>